body {
  padding: 10px;
  margin: 0;
  background: white;
  font-family: 'Arial';
  margin: 0;
  --mdc-theme-primary: #105394;
  --mdc-theme-accent: #e84f0e;
}

.invisible {
  display: none;
}

.mdc-list-item {
  padding-top: 10px;
}

@media (min-width: 720px) {
  .mdc-list-item {
    padding-top: 30px;
  }
}

header {
  padding: 0;
  border-bottom: 1px solid #eee;
}

.header_logo {
  width: 130px;
  display: inline-block;
  vertical-align: middle;
}

.header_link {
  display: inline-block;
  margin: 10px 0 0 10px;
  vertical-align: middle;
  text-decoration: none;
  color: var(--mdc-theme-primary);
}

@media (min-width: 720px) {
  header {
    text-align: center;
    margin-bottom: 30px;
  }
}

.caption {
  position: absolute;
  left: 30px;
  right: 0;
  bottom: 70px;
  color: #ccc;
  font-size: 12px;
}

@media (min-width: 720px) {
  .caption {
    text-align: center;
    bottom: 100px;
    left: 0;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #eee;
  padding: 5px;
  text-align: center;
  z-index: 0;
}

.footer_button {
  font-size: 18px !important;
  letter-spacing: 2px !important;
}

@media (min-width: 720px) {
  footer {
    padding: 25px 0;
  }
}

.wrapper {
  max-width: 400px !important;
  margin: auto !important;
}

.mdc-toolbar {
  background: white;
  border-bottom: 1px solid #eee;
}

.mdc-snackbar {
  z-index: 10;
}

.mdc-checkbox {
  margin-left: -10px;
}

textarea {
  display: block;
  width: 100%;
  resize: none;
  font-size: 20px;
}

.counter {
  float: right;
  font-size: 22px;
  font-weight: bold;
  color: var(--mdc-theme-accent);
  line-height: 60px;
}
